# TEST

In [1]:
# OBTENEMOS UN DICCIONARIO (ids_test) CON LOS IDS DE USUARIO POR VARIEDAD Y SEXO

f = open('./PAN-AP/test/truth.txt')

contador=0
sexo={'male':0,'female':0}
variedades={'colombia':0,'argentina':0,'spain':0,'venezuela':0,'peru':0,'chile':0,'mexico':0}

ids_test={'colombia':{'male':[],'female':[]},'argentina':{'male':[],'female':[]},'spain':{'male':[],'female':[]}, \
     'venezuela':{'male':[],'female':[]},'peru':{'male':[],'female':[]},'chile':{'male':[],'female':[]}, \
     'mexico':{'male':[],'female':[]}}

#print(len(f.readlines()))

for line in f:
    line=line.rstrip()
    if len(line)==0:
        continue
    lista=line.split(':::')
    
    ids_test[lista[2]][lista[1]].append(lista[0])
    
    sexo[lista[1]] += 1
    variedades[lista[2]] += 1
    contador+=1

print(sexo,variedades,contador)

{'male': 700, 'female': 700} {'colombia': 200, 'argentina': 200, 'spain': 200, 'venezuela': 200, 'peru': 200, 'chile': 200, 'mexico': 200} 1400

In [2]:
# OBTENEMOS UN DICCIONARIO (ids_train) CON LOS IDS DE USUARIO POR VARIEDAD Y SEXO

f = open('./PAN-AP/training/truth.txt')

contador=0
sexo={'male':0,'female':0}
variedades={'colombia':0,'argentina':0,'spain':0,'venezuela':0,'peru':0,'chile':0,'mexico':0}

ids_train={'colombia':{'male':[],'female':[]},'argentina':{'male':[],'female':[]},'spain':{'male':[],'female':[]}, \
     'venezuela':{'male':[],'female':[]},'peru':{'male':[],'female':[]},'chile':{'male':[],'female':[]}, \
     'mexico':{'male':[],'female':[]}}

#print(len(f.readlines()))

for line in f:
    line=line.rstrip()
    if len(line)==0:
        continue
    lista=line.split(':::')
    
    ids_train[lista[2]][lista[1]].append(lista[0])
    
    sexo[lista[1]] += 1
    variedades[lista[2]] += 1
    contador+=1

print(sexo,variedades,contador)

{'male': 1400, 'female': 1400} {'colombia': 400, 'argentina': 400, 'spain': 400, 'venezuela': 400, 'peru': 400, 'chile': 400, 'mexico': 400} 2800

In [13]:
# FUNCIÓN QUE DEVUELVE UNA LISTA CON LOS TUITS DE UN ID DE USUARIO

def leer_tuits(id,particion):
    if particion == 'train':
        s='./PAN-AP/training/' + id + '.xml'
    else:
        s='./PAN-AP/test/' + id + '.xml'
    f=open(s)
    tuits=list()
    for line in f:
        line=line.rstrip()
        if line.find('<document><![CDATA[') != -1:
            line=line[21:-14]
            tuits.append(line)
    return tuits

def leer_tuits_string(id,particion):
    if particion == 'train':
        s='./PAN-AP/training/' + id + '.xml'
    else:
        s='./PAN-AP/test/' + id + '.xml'
    f=open(s)
    tuits=list()
    for line in f:
        line=line.rstrip()
        if line.find('<document><![CDATA[') != -1:
            line=line[21:-14]
            tuits.append(line)
    return flatstring(tuits)

def leer_tuits_longitud(id,particion):
    if particion == 'train':
        s='./PAN-AP/training/' + id + '.xml'
    else:
        s='./PAN-AP/test/' + id + '.xml'
    f=open(s)
    longitudes=list()
    for line in f:
        line=line.rstrip()
        if line.find('<document><![CDATA[') != -1:
            line=line[21:-14]
            longitudes.append(len(line))
    return longitudes

In [4]:
# FUNCIÓN QUE CONVIERTE UNA list[list] en list

def flatlist(lista):
    flatlist=list()
    for sublista in lista:
        for item in sublista:
            flatlist.append(item)
    return flatlist

flatlist([[1,2],[3],[4,5,6]])

[1, 2, 3, 4, 5, 6]

In [5]:
def flatstring(lista):
    s=""
    for item in lista:
        s+=item
    return s

In [6]:
# FUNCIÓN QUE DEVUELVE UNA LISTA CON LOS TUITS DE UNA VARIEDAD Y UN SEXO DADOS

def obtener_tuits(ids,variedad,sexo,particion):
    tuits=list()
    for id in ids[variedad][sexo]:
        tuits.append(leer_tuits(id,particion))
    tuits=flatlist(tuits)
    return tuits
     
def obtener_tuits_string(ids,variedad,sexo,particion):
    tuits=list()
    for id in ids[variedad][sexo]:
        tuits.append(leer_tuits_string(id,particion))
    #tuits=flatlist(tuits)
    return tuits

In [7]:
variedades_lista = ['argentina', 'chile', 'colombia', 'mexico', 'peru', 'spain', 'venezuela']
sexo_lista = ['female','male']
variedades_lista_numero = {'argentina':1, 'chile':2, 'colombia': 3, 'mexico': 4, 'peru': 5, 'spain': 6, 'venezuela':7}

**intentamos quedarnos con solo los tuits de cada variedad para que luego pueda calcular la tf_idf según variedad**

In [14]:
import pandas as pd

x_train = pd.DataFrame(columns = ['tuits','sexo','variedad'])

# cada fila será un usuario del train. En total debe haber 2800 filas.

i=0
for variedad in variedades_lista:
    v=0
    print(variedad)
    for sexo in sexo_lista:
        s=0
        for id in ids_train[variedad][sexo]:
            t = leer_tuits_longitud(id,'train')
            x_train.loc[i] = [t,sexo,variedad]
            i+=1
            v+=1
            s+=1
        print("\t",sexo,s)
    print(v)

argentina
	 female 200
	 male 200
400
chile
	 female 200
	 male 200
400
colombia
	 female 200
	 male 200
400
mexico
	 female 200
	 male 200
400
peru
	 female 200
	 male 200
400
spain
	 female 200
	 male 200
400
venezuela
	 female 200
	 male 200
400

In [81]:
x_train.loc[0:10]

,tuits,sexo,variedad,mean,median,std,skewness
0,"[91, 32, 87, 94, 47, 56, 68, 76, 127, 40, 82, ...",female,argentina,85.16,87.5,32.143843,0.106207
1,"[62, 40, 39, 66, 55, 41, 72, 59, 76, 103, 76, ...",female,argentina,63.47,55.5,23.780331,0.709803
2,"[55, 61, 22, 28, 28, 71, 25, 24, 32, 70, 33, 6...",female,argentina,38.10,32.0,23.456601,1.556400
3,"[58, 79, 75, 45, 18, 139, 54, 46, 73, 68, 90, ...",female,argentina,60.56,56.0,29.102161,0.717457
4,"[39, 25, 78, 36, 54, 123, 114, 70, 85, 55, 89,...",female,argentina,74.02,68.0,35.923876,0.385561
5,"[119, 66, 129, 133, 77, 84, 107, 52, 75, 83, 1...",female,argentina,76.75,72.5,37.675482,0.221802
6,"[67, 126, 55, 43, 46, 54, 33, 24, 60, 63, 31, ...",female,argentina,60.24,57.0,29.608257,0.842735
7,"[138, 101, 45, 62, 74, 84, 133, 110, 134, 140,...",female,argentina,73.99,73.0,50.456201,-0.037711
8,"[137, 67, 68, 76, 91, 107, 92, 35, 69, 133, 4,...",female,argentina,75.97,69.0,36.419957,0.283163
9,"[131, 82, 62, 19, 52, 99, 27, 105, 61, 73, 80,...",female,argentina,84.67,81.0,34.431620,0.111638
10,"[72, 52, 110, 47, 117, 65, 57, 67, 124, 70, 35...",female,argentina,69.34,65.0,20.996498,0.813515

In [47]:
import statistics as stats
from scipy import stats as sc

for i in range(2800):
    x_train.loc[i, 'mean'] = stats.mean(x_train.loc[i]['tuits'])
    x_train.loc[i, 'median'] = stats.median(x_train.loc[i]['tuits'])
    x_train.loc[i, 'std'] = stats.stdev(x_train.loc[i]['tuits'])
    x_train.loc[i, 'skewness'] = sc.skew(x_train.loc[i]['tuits'])

In [60]:
# USUARIOS DE TEST

import pandas as pd

x_test = pd.DataFrame(columns = ['tuits','sexo','variedad'])

# cada fila será un usuario del train. En total debe haber 2800 filas.

i=0
for variedad in variedades_lista:
    v=0
    print(variedad)
    for sexo in sexo_lista:
        s=0
        for id in ids_test[variedad][sexo]:
            t = leer_tuits_longitud(id,'test')
            x_test.loc[i] = [t,sexo,variedad]
            i+=1
            v+=1
            s+=1
        print("\t",sexo,s)
    print(v)

argentina
	 female 100
	 male 100
200
chile
	 female 100
	 male 100
200
colombia
	 female 100
	 male 100
200
mexico
	 female 100
	 male 100
200
peru
	 female 100
	 male 100
200
spain
	 female 100
	 male 100
200
venezuela
	 female 100
	 male 100
200

In [63]:
x_test[198:210]

,tuits,sexo,variedad,mean,median,std,skewness
198,"[43, 68, 116, 61, 121, 138, 82, 87, 50, 140, 1...",male,argentina,82.79,76.5,34.587700,0.285453
199,"[63, 14, 17, 39, 11, 25, 39, 55, 44, 0, 100, 3...",male,argentina,53.78,52.0,30.058724,0.503809
200,"[20, 32, 39, 123, 11, 122, 9, 14, 135, 126, 14...",female,chile,94.20,103.5,41.727834,-0.554017
201,"[92, 91, 74, 91, 64, 70, 42, 75, 41, 45, 79, 5...",female,chile,81.46,80.5,27.581072,0.146583
202,"[66, 5, 61, 59, 31, 55, 133, 12, 19, 37, 85, 2...",female,chile,50.25,45.0,29.822497,0.962894
203,"[139, 105, 50, 30, 49, 108, 134, 79, 70, 54, 1...",female,chile,90.05,95.0,32.481036,-0.077707
204,"[138, 132, 135, 114, 134, 119, 127, 140, 138, ...",female,chile,110.95,123.5,32.382304,-1.187905
205,"[105, 86, 139, 47, 140, 133, 105, 41, 98, 77, ...",female,chile,103.55,110.0,36.350809,-0.645259
206,"[45, 26, 26, 43, 43, 139, 29, 82, 56, 138, 139...",female,chile,90.72,131.0,51.070773,-0.390424
207,"[72, 52, 40, 116, 132, 140, 132, 138, 140, 140...",female,chile,96.39,96.5,38.193261,-0.343593
208,"[140, 64, 111, 90, 38, 36, 27, 44, 76, 77, 32,...",female,chile,63.92,63.0,28.785055,0.709825
209,"[57, 50, 35, 41, 16, 89, 44, 27, 58, 58, 49, 5...",female,chile,49.11,44.0,24.148068,0.956741

In [62]:
import statistics as stats
from scipy import stats as sc

for i in range(1400):
    x_test.loc[i, 'mean'] = stats.mean(x_test.loc[i]['tuits'])
    x_test.loc[i, 'median'] = stats.median(x_test.loc[i]['tuits'])
    x_test.loc[i, 'std'] = stats.stdev(x_test.loc[i]['tuits'])
    x_test.loc[i, 'skewness'] = sc.skew(x_test.loc[i]['tuits'])

In [70]:

X_train = x_train.loc[:,['mean','median','std','skewness']]
X_test = x_test.loc[:,['mean','median','std','skewness']]

print( X_train.head() )
print( X_test.head() )

    mean  median        std  skewness
0  85.16    87.5  32.143843  0.106207
1  63.47    55.5  23.780331  0.709803
2  38.10    32.0  23.456601  1.556400
3  60.56    56.0  29.102161  0.717457
4  74.02    68.0  35.923876  0.385561
     mean  median        std  skewness
0   91.67    92.0  30.404696 -0.159314
1   57.28    49.5  29.919785  0.853965
2  101.94   109.0  29.256725 -0.625659
3   86.77    85.5  35.130595 -0.031586
4   38.52    35.0  18.853759  0.823102

** CLASIFICADOR GENDER**

In [71]:
from sklearn.naive_bayes import MultinomialNB

clf_gender_NB = MultinomialNB().fit(X_train, x_train['sexo'])

# ERROR: must be non-negative

ValueError: Input X must be non-negative

In [72]:
from sklearn.ensemble import RandomForestClassifier

clf_gender_RF = RandomForestClassifier(500).fit(X_train, x_train['sexo'])

** PREDICCIÓN GENDER**

In [73]:

predicted_gender_RF = clf_gender_RF.predict(X_test)

In [74]:
predicted_gender_RF[0:10]

array(['male', 'male', 'female', 'male', 'female', 'male', 'female',
       'male', 'female', 'female'], dtype=object)

** MÉTRICAS GENDER **

In [76]:
from collections import Counter

c = Counter(predicted_gender_RF[0:100])

c.most_common()

[('female', 59), ('male', 41)]

In [77]:
from sklearn import metrics

print(metrics.classification_report(x_test.sexo, predicted_gender_RF))

             precision    recall  f1-score   support

     female       0.54      0.54      0.54       700
       male       0.54      0.54      0.54       700

avg / total       0.54      0.54      0.54      1400

** CLASIFICADOR Y PREDICTOR VARIETY **

In [166]:
from sklearn.naive_bayes import MultinomialNB

clf_variety = MultinomialNB().fit(X_train_tf, x_train['variedad'])
predicted_variety = clf_variety.predict(X_test_tf)

In [78]:
from sklearn.ensemble import RandomForestClassifier

clf_RF = RandomForestClassifier(500).fit(X_train, x_train['variedad'])
predicted_variety_RF = clf_RF.predict(X_test)

** MÉTRICAS VARIETY **

In [79]:
from collections import Counter

c = Counter(predicted_variety_RF[600:800])

c.most_common()

[('mexico', 38),
 ('chile', 37),
 ('argentina', 33),
 ('venezuela', 29),
 ('peru', 25),
 ('spain', 22),
 ('colombia', 16)]

In [80]:
from sklearn import metrics

print(metrics.classification_report(x_test.variedad, predicted_variety_RF))

             precision    recall  f1-score   support

  argentina       0.21      0.25      0.23       200
      chile       0.18      0.20      0.18       200
   colombia       0.17      0.14      0.15       200
     mexico       0.21      0.19      0.20       200
       peru       0.14      0.12      0.13       200
      spain       0.18      0.17      0.18       200
  venezuela       0.25      0.29      0.27       200

avg / total       0.19      0.20      0.19      1400

jupyter notebook --NotebookApp.iopub_data_rate_limit=10000000000

In [250]:
import statistics as stats
import scipy

prueba=pd.DataFrame(columns=[1,2,3])

prueba.loc[0] = [34,52,1]
prueba.loc[1] = [21,31,0]
prueba
prueba.loc[2] = [23,21,[23,1,5]]

print(stats.median(prueba.loc[2][3]))
print(stats.stdev(prueba.loc[2][3]))
print(scipy.stats.skew(prueba.loc[2][3]))

5
11.718930554164631
0.6155602359275459